/* Start Variables */
:root {
    --main-color: #fec524;
    --secondary-color: #d9a413;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
/* End Global Rules */
/* Start Componants */
.container {
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.main-header {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
.main-header h2 {
    margin: 0;
    font-weight: 900;
    font-size: 30px;
    color: var(--main-color);
}
.main-header h1 {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
}
.main-header h1.white {
    color: #fff;
}
.main-header h1.black {
    color: #000;
}
.more {
    border: none;
    border-radius: 7px;
    background-color: var(--main-color);
    color: #000;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}
/* End Componants */
/* Start Settings Box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    min-height: 100vh;
    transition: 0.3s;
    z-index: 1000;
    border: 1px solid #eee;
}
.settings-box.open {
    left: 0;
}
.settings-box .gear-container {
    position: absolute;
    right: -35px;
    top: 150px;
    background-color: #fff;
    padding: 8px 0;
    width: 35px;
    text-align: center;
    cursor: pointer;
}
.settings-box .option-box {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #eee;
}
.settings-box .option-box h4 {
    margin: 0;
    color: #666;
    font-weight: 900;
}
.settings-box .colors-list {
    text-align: center;
    margin: 10px 0 0;
}
.settings-box .colors-list li {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #eee;
}
.settings-box .colors-list li.active {
    border-color: #fff;
}
.settings-box .colors-list li:first-child {
    background-color: #fec524;
}
.settings-box .colors-list li:nth-child(2) {
    background-color: #e91e63;
}
.settings-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box .colors-list li:nth-child(4) {
    background-color: #03a9f4;
}
.settings-box .colors-list li:nth-child(5) {
    background-color: #4caf50;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
    width: 50px;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 700;
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
}
.settings-box .option-box span.active {
    opacity: 1;
}
.settings-box .reset-options {
    background-color: #f44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
/* End Settings Box */
/* Start Nav Bullets */
.nav-bullets {
    z-index: 99;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    width: 100px;
    color: #fff;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
/* End Nav Bullets */
/* Start Landing Page */
.landing-page {
    position: relative;
    min-height: 100vh;
    background-image: url("../imgs/decry-yae-WnoQ2nK0p_w-unsplash.jpg");
    background-size: cover;
    font-weight: 700;
    transition: 0.3s;
}
.landing-page .header-area {
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    padding: 20px 50px;
    letter-spacing: 1px;
}
.landing-page .header-area .logo {
    width: 300px;
    padding: 15px;
}
.landing-page .header-area .logo .main {
    font-size: 30px;
}
.landing-page .header-area .logo .main span {
    color: var(--secondary-color);
}
.landing-page .header-area .logo .secondary {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.landing-page .header-area .links {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
}
.landing-page .header-area .links li {
    display: inline-block;
}
.landing-page .header-area .links li a {
    color: inherit;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 13px;
    transition: 0.3s;
}
.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
    color: #000;
    background-color: var(--main-color);
}
.landing-page .introduction {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 3;
    margin-top: 40px;
}
.landing-page .introduction p {
    margin: 0;
    text-transform: uppercase;
}
.landing-page .introduction p:first-child {
    color: var(--main-color);
    font-size: 28px;
}
.landing-page .introduction .number {
    letter-spacing: 1px;
    font-size: 50px;
}
.landing-page .introduction p:last-child {
    letter-spacing: 12px;
    font-size: 20px;
    margin-top: 10px;
}
.landing-page .taxi {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    z-index: 2;
}
/* End Landing Page */
/* Start Booking */
.booking {
    background-color: var(--main-color);
    padding-top: 130px;
    padding-bottom: 130px;
}
.booking .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking .text {
    flex-basis: 45%;
}
.booking .text h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    margin: 0;
}
.booking .text h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    margin-top: 10px;
}
.booking .text p {
    margin-bottom: 46px;
}
.booking .text .more {
    background-color: #000;
    color: #fff;
}
.booking .book {
    flex-basis: 35%;
    background-color: #fff;
}
.booking .book h2 {
    text-transform: uppercase;
    font-weight: 900;
    background-color: #161616;
    color: #fff;
    margin: 0;
    padding: 15px 30px;
    font-size: 23px;
}
.booking .book h2 span {
    color: var(--main-color);
}
.booking .book form .input {
    display: flex;
    gap: 20px;
    font-weight: 700;
    padding: 0 28px;
}
.booking .book form .input input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #e4e4e4;
    padding: 25px 0 10px;
    font-weight: 700;
}
.booking .book form .input input:first-child::placeholder {
    color: #121212;
}
.booking .book form .submit {
    margin: 35px 20px 17px;
}
.booking .book form .submit input {
    background-color: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 15px 0;
    border-radius: 8px;
    font-weight: 900;
    cursor: pointer;
}
/* End Booking */
/* Start Tariffs */
.tariffs {
    padding-top: 100px;
    padding-bottom: 100px;
}
.tariffs .content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.tariffs .content .box {
    background-color: #f4f3f1;
    position: relative;
    margin-top: 100px;
    text-align: center;
    padding: 80px 25px 20px;
}
.tariffs .content .special {
    background-color: var(--main-color);
}
.tariffs .content .special::before {
    content: "";
    position: absolute;
    border-width: 50px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotateZ(45deg);
}
.tariffs .content .special .star {
    position: absolute;
    color: var(--main-color);
    bottom: 12px;
    right: 7px;
    font-size: 25px;
}
.tariffs .content .box img {
    position: absolute;
    background-color: transparent;
    width: 270px;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.tariffs .content .box .text h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 28px;
}
.tariffs .content .box .text h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--main-color);
}
.tariffs .content .special .text h1 {
    color: #000;
}
.tariffs .content .special .text .more {
    background-color: #000;
    color: #fff;
}
/* End Tariffs */
/* Start Features */
.features {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../imgs/angela-compagnone-p1PF8HtB2I4-unsplash.jpg");
    background-size: cover;
}
.features .content {
    position: relative;
    z-index: 3;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features .content .feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
    row-gap: 70px;
}
.features .content .feature {
    display: flex;
    gap: 30px;
}
.features .content .feature .feature-icon {
    background-color: var(--main-color);
    border-radius: 50%;
    min-width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features .content .feature .feature-icon .icon {
    color: black;
}
.features .content .feature .feature-text h4 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
}
.features .content .feature .feature-text p {
    color: #fff;
}
.features .content .button-container {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Features */
/* Start Download */
.download {
    padding-top: 100px;
}
.download .content {
    margin: 100px 100px 0;
    display: flex;
    justify-content: space-between;
}
.download .content .text {
    flex-basis: 50%;
}
.download .content .text p:first-child {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.4;
}
.download .content .text p:nth-child(2) {
    font-size: 16px;
    line-height: 1.2;
    width: 330px;
}
.download .content .text .links {
    margin-top: 70px;
    display: flex;
    gap: 35px;
}
.download .content .text .links img {
    width: 180px;
}
/* End Download */
/* Start Testimonials */
.testimonials {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../imgs/Testimonials.png");
    background-size: cover;
}
.testimonials .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 100px;
    z-index: 3;
}
.testimonials .content .box {
    position: relative;
    padding: 35px 50px;
    background-color: #000;
    border-radius: 50px;
}
.testimonials .content .box::before {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 20%;
    border-width: 15px;
    border-style: solid;
    border-color: black transparent transparent black;
}
.testimonials .content .box:nth-child(2)::before {
    right: 75%;
    border-color: black black transparent transparent;
}
.testimonials .content .box p {
    color: #fff;
    margin: 0;
    font-size: 17px;
    letter-spacing: 1.4;
}
.testimonials .content .box .profile {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.testimonials .content .box .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testimonials .content .box .profile .text {
    color: #fff;
}
.testimonials .content .box .profile .text h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 28px;
    color: var(--main-color);
}
.testimonials .content .box .profile .text h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
}
/* End Testimonials */
/* Start Call */
.call {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--main-color);
    text-align: center;
}
.call p {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}
.call p:first-child {
    font-size: 30px;
    margin-bottom: 10px;
}
.call p:nth-child(2) {
    font-size: 70px;
}
/* End Call */
/* Start Footer */
.footer {
    position: relative;
    background-image: url("../imgs/frank-weichkopf-re726QcSzzQ-unsplash.jpg");
    background-size: cover;
}
.footer .content {
    position: relative;
    z-index: 3;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: #fff;
}
.footer .content .box {
    flex: 1;
}
.footer .content .box h2 {
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 5px solid var(--main-color);
    margin: 0 0 40px;
    padding-bottom: 40px;
}
.footer .content .box p {
    font-size: 17px;
    margin: 0 0 20px;
}
.footer .content .box .about .socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer .content .box .about .socials li a {
    color: var(--main-color);
    font-size: 20px;
}
.footer .content .box .download-f .links li {
    margin-bottom: 20px;
}
.footer .content .box .download-f .links li a {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .content .box .download-f .links li a span {
    color: var(--main-color);
    font-size: 18px;
}
.footer .content .box .download-f .links li a .icon {
    color: #fff;
    font-size: 28px;
}
.footer .content .box .download-f .links li:nth-child(2) a .icon {
    padding-right: 5px;
}
.footer .content .box .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer .content .box .contacts li {
    display: flex;
    gap: 30px;
}
.footer .copyright {
    position: relative;
    z-index: 3;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
/* Start Footer */
