/* Start Variables */
:root {
    --main-color: #fec524;
    --secondary-color: #d9a413;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
ul {
    list-style: none;
}
/* End Global Rules */
/* Start Componants */
.container {
    padding-left: 150px;
    padding-right: 150px;
    margin: auto;
}
.main-header {
    text-align: center;
    text-transform: uppercase;
}
.main-header h2 {
    margin: 0;
    font-weight: 900;
    font-size: 30px;
    color: var(--main-color);
}
.main-header h1 {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
}
.more {
    border: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 900;
}
/* End Componants */
/* Start Settings Box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    min-height: 100vh;
    transition: 0.3s;
    z-index: 1000;
}
.settings-box.open {
    left: 0;
}
.settings-box .gear-container {
    position: absolute;
    right: -35px;
    top: 150px;
    background-color: #fff;
    padding: 8px 0;
    width: 35px;
    text-align: center;
    cursor: pointer;
}
.settings-box .option-box {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #eee;
}
.settings-box .option-box h4 {
    margin: 0;
    color: #666;
    font-weight: 900;
}
.settings-box .colors-list {
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.settings-box .colors-list li {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #eee;
}
.settings-box .colors-list li.active {
    border-color: #fff;
}
.settings-box .colors-list li:first-child {
    background-color: #fec524;
}
.settings-box .colors-list li:nth-child(2) {
    background-color: #e91e63;
}
.settings-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box .colors-list li:nth-child(4) {
    background-color: #03a9f4;
}
.settings-box .colors-list li:nth-child(5) {
    background-color: #4caf50;
}
.settings-box .random-backgrounds .yes,
.settings-box .random-backgrounds .no {
    width: 50px;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 700;
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
}
.settings-box .random-backgrounds span.active {
    opacity: 1;
}
.settings-box .random-backgrounds .yes {
    background-color: #4caf50;
}
.settings-box .random-backgrounds .no {
    background-color: #f44336;
}
/* End Settings Box */
/* Start Landing Page */
.landing-page {
    position: relative;
    min-height: 100vh;
    background-image: url("../imgs/decry-yae-WnoQ2nK0p_w-unsplash.jpg");
    background-size: cover;
    font-weight: 700;
    transition: 0.3s;
}
.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.93);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .header-area {
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    padding: 20px 50px;
    letter-spacing: 1px;
}
.landing-page .header-area .logo {
    width: 300px;
    padding: 15px;
}
.landing-page .header-area .logo .main {
    font-size: 30px;
}
.landing-page .header-area .logo .main span {
    color: var(--secondary-color);
}
.landing-page .header-area .logo .secondary {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.landing-page .header-area .links {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
}
.landing-page .header-area .links li {
    display: inline-block;
}
.landing-page .header-area .links li a {
    color: inherit;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 13px;
    transition: 0.3s;
}
.landing-page .header-area .links li a:hover,
.landing-page .header-area .links li a.active {
    color: #000;
    background-color: var(--main-color);
}
.landing-page .introduction {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 3;
    margin-top: 40px;
}
.landing-page .introduction p {
    margin: 0;
    text-transform: uppercase;
}
.landing-page .introduction p:first-child {
    color: var(--main-color);
    font-size: 28px;
}
.landing-page .introduction .number {
    letter-spacing: 1px;
    font-size: 50px;
}
.landing-page .introduction p:last-child {
    letter-spacing: 12px;
    font-size: 20px;
    margin-top: 10px;
}
.landing-page .taxi {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    z-index: 2;
}
/* End Landing Page */
/* Start Booking */
.booking {
    background-color: var(--main-color);
}
.booking .container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking .text {
    flex-basis: 45%;
}
.booking .text h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    margin: 0;
}
.booking .text h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    margin-top: 10px;
}
.booking .text p {
    margin-bottom: 46px;
}
.booking .book {
    flex-basis: 35%;
    background-color: #fff;
}
.booking .book h2 {
    text-transform: uppercase;
    font-weight: 900;
    background-color: #161616;
    color: #fff;
    margin: 0;
    padding: 15px 30px;
    font-size: 23px;
}
.booking .book h2 span {
    color: var(--main-color);
}
.booking .book form .input {
    display: flex;
    gap: 20px;
    font-weight: 700;
    padding: 0 28px;
}
.booking .book form .input input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #e4e4e4;
    padding: 25px 0 10px;
    font-weight: 700;
}
.booking .book form .input input:first-child::placeholder {
    color: #121212;
}
.booking .book form .submit {
    margin: 35px 20px 17px;
}
.booking .book form .submit input {
    background-color: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 15px 0;
    border-radius: 8px;
    font-weight: 900;
}
/* End Booking */
/* Start Tariffs */
.tariffs {
    padding-top: 50px;
    padding-bottom: 50px;
}
.tariffs .content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.tariffs .content .box {
    background-color: #f4f3f1;
    position: relative;
    margin-top: 100px;
    text-align: center;
    padding: 80px 25px 20px;
}
.tariffs .content .special {
    background-color: var(--main-color);
}
.tariffs .content .special::before {
    content: "";
    position: absolute;
    border-width: 50px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotateZ(45deg);
}
.tariffs .content .special .star {
    position: absolute;
    color: var(--main-color);
    bottom: 12px;
    right: 7px;
    font-size: 25px;
}
.tariffs .content .box img {
    position: absolute;
    background-color: transparent;
    width: 270px;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.tariffs .content .box .text h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 28px;
}
.tariffs .content .box .text h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--main-color);
}
.tariffs .content .special .text h1 {
    color: #000;
}
.tariffs .content .box .text .more {
    background-color: var(--main-color);
    color: #000;
}
.tariffs .content .special .text .more {
    background-color: #000;
    color: #fff;
}
/* End Tariffs */
