/* Start Font */
@font-face {
    font-family: LatoBlack;
    src: url("../fonts/Lato-Black.ttf");
}
@font-face {
    font-family: LatoLight;
    src: url("../fonts/Lato-Light.ttf");
}
/* End Font */
/* Start Global Rules */
:root {
    --main-color: #fec524;
    --secondary-color: #d9a413;
}
body {
    font-family: LatoBlack;
}
/* End Global Rules */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-image: url("../imgs/decry-yae-WnoQ2nK0p_w-unsplash.jpg");
    background-size: cover;
    position: relative;
}
.landing .overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing .header-area {
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
    padding: 20px 50px;
    letter-spacing: 1px;
}
.landing .header-area .logo {
    width: 300px;
    padding: 15px;
}
.landing .header-area .logo .main {
    font-size: 30px;
}
.landing .header-area .logo .main span {
    color: var(--secondary-color);
}
.landing .header-area .logo .secondary {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.landing .header-area .links {
    list-style: none;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
}
.landing .header-area .links li {
    display: inline-block;
}
.landing .header-area .links li a {
    color: inherit;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 13px;
}
.landing .header-area .links li a:hover {
    color: #000;
    background-color: var(--main-color);
}
.landing .introduction {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 3;
}
.landing .introduction p:first-child {
    text-transform: uppercase;
    color: var(--main-color);
    margin: 0;
    font-size: 28px;
}
.landing .introduction p:last-child {
    letter-spacing: 1px;
    font-size: 50px;
    margin: 0;
}
/* End Landing */
img {
    position: absolute;
    top: 85%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
}
/* Start Booking */
.booking {
    min-height: 100vh;
    background-color: var(--main-color);
}
/* End Booking */
